<% include ../pages/header %>

<% include ../pages/navbar %>

<div class="container-fluid">
    <div class="row">
        <% include ../pages/sidebar %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Chat room</h1>

            <h2 class="sub-header">Message</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Message</th>
                      <th>Created at</th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr>
                          <td><a href="/message/<%= message.id %>"><%= message.id %></a></td>
                          <td><%= message.content %></td>
                          <td><%= message.created_at.fromNow() %></td>
                        </tr>
                  </tbody>
                </table>
            </div>

        </div>
  </div>
</div>

<% include ../pages/footer %>
