    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2">
                <div class="col-md-12">
                    <form id="message-from" class="form">
                        <div class="form-group" style="margin-top : 7px; margin-bottom : 7px;">
                            <div class="input-group">
                                <input name="message" id="message" class="form-control" placeholder="Votre message" autocomplete="off" autofocus="autofocus" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-send"></span> Send!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/assets/vendor/socket.io/socket.io.js"></script>
    <script src="/assets/js/client.js"></script>
</body>
</html>
