<div class="placeholders">
    <div class="placeholder">
        <% if (locals.flash && locals.flash.error) {%>
            <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> <%= flash.error %></div>
        <% } %>

        <% if (locals.flash && locals.flash.success) {%>
            <div class="alert alert-success" role="alert"><strong>Success!</strong> <%= flash.success %></div>
        <% } %>
    </div>
</div>
