<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Chat room</h1>

    <% include form %>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Auteur</th>
                    <th class="col-md-10">Message</th>
                    <th class="col-md-1">Created at</th>
                </tr>
            </thead>
            <tbody id="listMessages">
                <% for (message of messages) { %>
                    <tr>
                        <td class="text-primary"><%= message.author %></td>
                        <td><%= message.content %></td>
                        <td><%= message.created_at.fromNow() %></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>
