<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Members <span class="sr-only">(current)</span></a></li>
        <% if(members) { %>
            <% for (member of members) { %>
                <li><a href="#"><i class="fa fa-circle" id="member-<%= member.id %>" aria-hidden="true"></i> <%= member.login %></a></li>
            <% } %>
        <% }else{ %>
            <li><a href="#">Pas de member</a></li>
        <% } %>
    </ul>
</div>
